---
import MainLayout from '../layouts/MainLayout.astro';
import SearchForm from '../components/SearchForm.astro';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { HOME_PAGE_ARTICLE_LIMIT } from '../constants';
import ArticleCard from '../components/ArticleCard.astro';
import RecentArticle from '../components/RecentArticle.astro';


const allBlogs: CollectionEntry<'blog'>[] = (await getCollection('blog'))
.sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const recentBlog: CollectionEntry<'blog'> = allBlogs[0];

const otherBlogs: CollectionEntry<'blog'>[] = allBlogs.slice(1)
---
<MainLayout>
      <!-- Top Grid -->

      <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">

        <div>

          <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">

            Articles, Stories & Tutorials for Tech People

          </h1>


          <SearchForm />
        

        </div>

        <!-- Most Recent Article -->

      <RecentArticle article={recentBlog}/>

      </div>



      <!-- Main Grid -->

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">

        {otherBlogs.slice(0, HOME_PAGE_ARTICLE_LIMIT).map(article => <ArticleCard article={article}/>)}

      </div>

    </div>


   </MainLayout>